<div class="container role">
	<section>
		<article class="left-menu">
		<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="open">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Sopesitos &nbsp; $5.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
								<em>
								Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Tostaditas &nbsp; $6.50
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'tostaditas.jpg' %>
						<p>
								<em>
								Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Nachos &nbsp; $6.75
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
								<em>
								Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong>
							</em>
							</p>
					</section>
				</li>
				
			</ul>
		</article>
<!-- end of  first artcle -->
		<article class="center-menu">
		<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Taquitos Dorados &nbsp; $5.50</span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
			</ul>
		</article>
<!-- end of  second artcle -->
		<article class="right-menu">
		<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Taquitos Dorados &nbsp; $5.50</span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
			</ul>
		</article>
<!-- end of  third artcle -->
	</section>

</div>