<div class="container role">
	<section>
		<article class="left-menu">
			<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="open">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Sopesitos &nbsp; $5.50
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Tostaditas &nbsp; $6.50
					</strong>
				</span>
			</header>
			<section class="content">
				<%= image_tag 'tostaditas.jpg' %>
				<p>
					<em>
						Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.
					</em>
				</p>
			</section>
		</li>

		<li class="closed">
			<header onclick="toggle(this.parentNode)"><span class="title"><strong>
				Nachos &nbsp; $6.75
			</strong>
		</span>
	</header>
	<section class="content">
		<%= image_tag 'bg-dish.png' %>
		<p>
			<em>
				Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong>
			</em>
		</p>
	</section>
</li>

<li class="closed">
	<header onclick="toggle(this.parentNode)"><span class="title"><strong>
		Coctel de Camaron (Appetizer) &nbsp; $8.00
	</strong>
</span>
</header>
<section class="content">
	<%= image_tag 'tostaditas.jpg' %>
	<p>
		<em>
			Shrimp cured with lime, olive oil, house cocktail sauce, avocado, cilantro and onion. Served with crackers.
		</em>
	</p>
</section>
</li>

<li class="closed">
	<header onclick="toggle(this.parentNode)"><span class="title"><strong>
		Chips and Salsa &nbsp; $1.00
	</strong>
</span>
</header>
<section class="content">
	<%= image_tag 'tostaditas.jpg' %>
	<p>
		<em>Crispy, corn tortillas served with housemade, zesty salsa.</em>
	</p>
</section>
</li>
</ul>
<h2>Soups and Salads </h2>
<ul class="accordion-menu">
	<li class="closed">
		<header onclick="toggle(this.parentNode)"><span class="title"><strong>
			Xochitl (S OH-sheel) &nbsp; $7.00
		</strong></span></header>
		<section class="content">
			<%= image_tag 'bg-dish.png' %>
			<p>
				<em>
					Fresh and vibrant Mexican chicken soup. Juicy, shredded chicken breast, 
					homemade Mexican rice, Chopped onions and fresh cilantro. Served with a 
					side of steamed corn tortillas. Add a squeeze of lime for festive flavor.
				</em>
			</p>
		</section>
	</li>

	<li class="closed">
		<header onclick="toggle(this.parentNode)"><span class="title"><strong>
			Taco Salad &nbsp; $7.00
		</strong></span></header>
		<section class="content">
			<%= image_tag 'bg-dish.png' %>
			<p>
				<em>
					Tostadas, beans, lettuce, cheese, pico de gallo, guacamole and sour cream
				</em>
			</p>
		</section>
	</li>

	<li class="closed">
		<header onclick="toggle(this.parentNode)"><span class="title"><strong>
			Parrilla House Salad &nbsp; $3.50
		</strong>
	</span>
</header>
<section class="content">
	<%= image_tag 'tostaditas.jpg' %>
	<p>
		<em>
			Shredded lettuce mixed with pico de gallo, pineapple and our house dressing.
		</em>
	</p>
</section>
</li>
</ul>

<h2>Tortas-warm sandwich</h2>
<p>
	<em>
		served on Bolillo (Mexican Bread)
		Filled with melted Monterey jack cheese, housemade refried black beans, tomato, onion, guacamole, and our house dressing (jalapeno or chipotle). Choose Carne Asada, Al Pastor, Chorizo or Pibil. &nbsp; $9.75 
	</em>
</p>
<ul class="accordion-menu">
	<li class="closed">
		<header onclick="toggle(this.parentNode)"><span class="title"><strong>
			Specialty Cubana Torta &nbsp; $10.50
		</strong></span></header>
		<section class="content">
			<%= image_tag 'cubana.jpg' %>
			<p>
				<em>
					Our torta with Asada, Chorizo, Al Pastor..
				</em>
			</p>
		</section>
	</li>

	<li class="closed">
		<header onclick="toggle(this.parentNode)"><span class="title"><strong>
			Specialty Pambazo Torta &nbsp; $10.50
		</strong></span></header>
		<section class="content">
			<%= image_tag 'bg-dish.png' %>
			<p>
				<em>
					Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
				</em>
			</p>
		</section>
	</li>
</ul>
</article>
<!-- end of  first artcle -->
<article class="center-menu">
	<h2>Burritos</h2>
	<ul class="accordion-menu">
		<li class="closed">
			<li class="closed">
				<header onclick="toggle(this.parentNode)"><span class="title"><strong>
					Parrilla Burrito &nbsp;grande $8.50 &nbsp;small $6.50
				</strong></span></header>
				<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
						<em>
							Flour tortilla filled with your choice of meat, rice, beans, cilantro, onion, sour cream and salsa.
						</em>
					</p>
				</section>
			</li>

			<li class="closed">
				<header onclick="toggle(this.parentNode)"><span class="title"><strong>
					No Meat Burrito grande $8.00 &nbsp;small $6.00
				</strong></span></header>
				<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
						<em>
							Rice, beans, lettuce, cilantro, onion, salsa
						</em>
					</p>
				</section>
			</li>

			<li class="closed">
				<header onclick="toggle(this.parentNode)"><span class="title"><strong>
					Veggie Burrito grande $10.00 &nbsp;small $8.00
				</strong></span></header>
				<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
						<em>
							Carrots, potatoes, bell pepper, onion, mushrooms, and cactus.
						</em>
					</p>
				</section>
			</li>

			<li class="closed">
				<header onclick="toggle(this.parentNode)"><span class="title"><strong>
					Specialty Burrito &nbsp; $11.50
				</strong></span></header>
				<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
						<em>
							Served grande style with
							grilled Shrimp or Grilled Sea Bass.
							add green or red salsa for wet burrito&nbsp; $1.00
							add, guacamole or cheese &nbsp;small $8.00
						</em>
					</p>
				</section>
			</li>
		</ul>

		<h2>Enchiladas</h2>
		<p>
			All entrees come with three of the SAME type of enchiladas served with mexican rice and house black beans on the side. Choose Verdes (Zesty) or Rojas (Mild) sauce. (Please order A la Carte if you would like to mix different types)
		</p>
		<ul class="accordion-menu">
			<li class="closed">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Parrilla Enchiladas &nbsp; $13.25
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Tender shredded chicken breast with your choice red or green sauce.
								Topped with queso fresco, cilantro, sliced onions  and drizzled with 
								with sour cream.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Suizas Enchiladas &nbsp;$13.25
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Shredded chicken, melted Monterey Jack cheese topped with sour cream & onion.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Veggie Enchiladas &nbsp;$13.25
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Potatoes, bell pepper, onions, mushrooms, cactus & queso fresco.
							</em>
						</p>
					</section>
				</li>
			</ul>
			<h2>Quesadillas</h2>
			<p>
				<em>
					Flour tortilla, served with a side of house black beans, filled with melted cheese and your choice of meat:Carne Asada, Al Pastor, Pollo Adobado &nbsp; $9.50
				</em>
			</p>
			<ul class="accordion-menu">
				<li class="closed">
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Grilled Shirmp Quesadilla &nbsp; $11.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Grilled Shirmp Quesadilla &nbsp; $11.50
								</em>
							</p>
						</section>
					</li>
				</ul>
			</article>
			<!-- end of  second artcle -->
			<article class="right-menu">
				<h2>Queso Carne</h2>
				<p>

					Your Choice of meat mixed with melted Monterey jack cheese, served with salsa, corn tortillas, rice & house black beans.
					Meat selections:&nbsp;Pollo Adobado, Carne Asada, or Al Pastor  

				</p>

				<ul class="accordion-menu">
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Queso Carne &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Meat selections:&nbsp;Pollo Adobado, Carne Asada, or Al Pastor  &nbsp; $13.50
								</em>
							</p>
						</section>
					</li>
				</ul>

				<h2>Alambres - like fajitas, only Better!</h2>
				<p>Served with zesty salsa, steamed corn tortillas, rice and housemade refried black beans and rice &nbsp; $13.50.</p>

				<ul class="accordion-menu">
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Clasico &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Steak, bacon, mushrooms, bell pepper, onions, and melted cheese
								</em>
							</p>
						</section>
					</li>
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Cubano &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Asada, Chorizo, Al Pastor, mushrooms, bell pepper, onions and melted cheese
								</em>
							</p>
						</section>
					</li>
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Al Pastor &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Marinated pork, pineapple, mushrooms, bell pepper, onions and melted cheese
								</em>
							</p>
						</section>
					</li>
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Veggie &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Grilled carrots, potatoes, bell pepper, onions, mushrooms, cactus, and melted cheese
								</em>
							</p>
						</section>
					</li>
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Pechuga &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Chicken breast, cactus, mushrooms, bell pepper, onions and melted cheese
								</em>
							</p>
						</section>
					</li>
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Seafood &nbsp; $13.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Grilled Shrimp or sea Bass and cactus add &nbsp; $3.00
								</em>
							</p>
						</section>
					</li>
				</ul>
				<h2>A la carte</h2>
				<p>
				<em>Taco</em> Soft Corn tortilla topped with cilantro, onion & salsa. Choose either Carne Asada (Steak), Al Pastor (Spicy Marinated Pork), Chorizo (Spicy Sausage), or Pollo Adobado (Shredded Marinated Chicken) &nbsp; $2.50, add cheese &nbsp; $.50.
				</p>
				
				<ul class="accordion-menu">
					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Veggie Taco &nbsp; $2.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'cubana.jpg' %>
							<p>
							<em>
								rice, beans, cilantro, onion, salsa, lettuce, queso fresco
							</em>
						</p>
						</section>
					</li>

					<li class="closed">
						<header onclick="toggle(this.parentNode)"><span class="title"><strong>
							Seafood Taco &nbsp; $5.50
						</strong></span></header>
						<section class="content">
							<%= image_tag 'bg-dish.png' %>
							<p>
								<em>
									Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
								</em>
							</p>
						</section>
					</li>
				</ul>

			</article>
			<!-- end of  third artcle -->
		</section>

	</div>