<div class="container role">
	<section>
		<article class="left-menu">
		<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="open">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Sopesitos &nbsp; $5.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
								<em>
								Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Tostaditas &nbsp; $6.50
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'tostaditas.jpg' %>
						<p>
								<em>
								Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Nachos &nbsp; $6.75
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
								<em>
								Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong>
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Coctel de Camaron (Appetizer) &nbsp; $8.00
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'tostaditas.jpg' %>
							<p>
								<em>
								Shrimp cured with lime, olive oil, house cocktail sauce, avocado, cilantro and onion. Served with crackers.
								</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Chips and Salsa &nbsp; $1.00
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'tostaditas.jpg' %>
						<p>
								<em>Crispy, corn tortillas served with housemade, zesty salsa.</em>
							</p>
					</section>
				</li>
			</ul>
			<h2>Soups and Salads </h2>
			<ul class="accordion-menu">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Xochitl (S OH-sheel) &nbsp; $7.00
					</strong></span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
								<em>
								Fresh and vibrant Mexican chicken soup. Juicy, shredded chicken breast, 
								homemade Mexican rice, Chopped onions and fresh cilantro. Served with a 
								side of steamed corn tortillas. Add a squeeze of lime for festive flavor.
								</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Taco Salad &nbsp; $7.00
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
					<p>
							<em>
								Tostadas, beans, lettuce, cheese, pico de gallo, guacamole and sour cream
							</em>
							</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Parrilla House Salad &nbsp; $3.50
					</strong>
					</span>
					</header>
					<section class="content">
					<%= image_tag 'tostaditas.jpg' %>
						<p>
								<em>
								Shredded lettuce mixed with pico de gallo, pineapple and our house dressing.
							</em>
							</p>
					</section>
				</li>
			</ul>

			<h2>Tortas-warm sandwich</h2>
			<p>
						<em>
							served on Bolillo (Mexican Bread)
								Filled with melted Monterey jack cheese, housemade refried black beans, tomato, onion, guacamole, and our house dressing (jalapeno or chipotle). Choose Carne Asada, Al Pastor, Chorizo or Pibil. &nbsp; $9.75 
						</em>
					</p>
			<ul class="accordion-menu">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Specialty Cubana Torta &nbsp; $10.50
					</strong></span></header>
					<section class="content">
						<%= image_tag 'cubana.jpg' %>
					<p>
							<em>
								Our torta with Asada, Chorizo, Al Pastor..
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Specialty Pambazo Torta &nbsp; $10.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
					<p>
							<em>
								Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
							</em>
						</p>
					</section>
				</li>
			</ul>
		</article>
<!-- end of  first artcle -->
		<article class="center-menu">
		<h2>Burritos</h2>
			<ul class="accordion-menu">
				<li class="closed">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Parrilla Burrito &nbsp;grande $8.50 &nbsp;small $6.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
						<em>
							Flour tortilla filled with your choice of meat, rice, beans, cilantro, onion, sour cream and salsa.
						</em>
					</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						No Meat Burrito grande $8.00 &nbsp;small $6.00
					</strong></span></header>
					<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
							<em>
								Rice, beans, lettuce, cilantro, onion, salsa
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
					Veggie Burrito grande $10.00 &nbsp;small $8.00
					</strong></span></header>
					<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
							<em>
								Carrots, potatoes, bell pepper, onion, mushrooms, and cactus.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Specialty Burrito &nbsp; $11.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'burro.jpg' %>
					<p>
							<em>
							Served grande style with
								grilled Shrimp or Grilled Sea Bass.
								add green or red salsa for wet burrito&nbsp; $1.00
								add, guacamole or cheese &nbsp;small $8.00
							</em>
						</p>
					</section>
				</li>
			</ul>

			<h2>Enchiladas</h2>
			<p>
					All entrees come with three of the SAME type of enchiladas served with mexican rice and house black beans on the side. Choose Verdes (Zesty) or Rojas (Mild) sauce. (Please order A la Carte if you would like to mix different types)
				</p>
			<ul class="accordion-menu">
				<li class="closed">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Enchiladas &nbsp; $13.25
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
					<p>
							<em>
								Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Specialty Pambazo Torta &nbsp; $10.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
					<p>
							<em>
								Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
							</em>
						</p>
					</section>
				</li>

				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title"><strong>
						Specialty Pambazo Torta &nbsp; $10.50
					</strong></span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
					<p>
							<em>
								Covered with our adobo sauce and filled with Chorizo, queso fresco, carrots, potatoes, lettuce, onion, and sour.
							</em>
						</p>
					</section>
				</li>
			</ul>
		</article>
<!-- end of  second artcle -->
		<article class="right-menu">
		<h2>Appetizers</h2>
			<ul class="accordion-menu">
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Taquitos Dorados &nbsp; $5.50</span></header>
					<section class="content">
						<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
				<li class="closed">
					<header onclick="toggle(this.parentNode)"><span class="title">Replacement of Lost Gum Tissue</span></header>
					<section class="content">
					<%= image_tag 'bg-dish.png' %>
						<p>
							<em>
								Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
							</em>
						</p>
					</section>
				</li>
			</ul>
		</article>
<!-- end of  third artcle -->
	</section>

</div>