<div class="container role">
	<div class="section-menu">
		<div class="menu-item-left">
			<div id="accordion-menu">
				<div>
					<h2>Appetizers </h2>
					<a href="#" class="open"><strong>
						Taquitos Dorados &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Taquitos Dorados &nbsp; $5.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
									Three deep fried taquitos filled with chicken; topped with lettuce, sour cream, queso fresco & salsa.
								</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Sopesitos &nbsp; $5.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Sopesitos &nbsp; $5.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'demo-parrilla.png' %>
							</div>
							<p>
								<em>
								Three mini fried corn cakes topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Tostaditas &nbsp; $6.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Tostaditas &nbsp; $6.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'tostaditas.jpg' %>
							</div>
							<p>
								<em>
								Two Tinga (chipotle marinated chicken with onion) tostadas topped with beans, lettuce, sour cream, queso fresco & salsa.
							</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Nachos &nbsp; $6.75
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Nachos &nbsp; $6.75</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
								Tortilla chips topped with melted monterrey jack cheese, house black beans, pico de gallo, guacamole, sour cream and jalapenos. Add meat: Asada, Al Pastor, Chili Verde or Pollo Adobado for  &nbsp; <strong>$3.00</strong>
							</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Coctel de Camaron (Appetizer) &nbsp; $8.00
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Coctel de Camaron (Appetizer) &nbsp; $8.00</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'demo-parrilla.png' %>
							</div>
							<p>
								<em>
								Shrimp cured with lime, olive oil, house cocktail sauce, avocado, cilantro and onion. Served with crackers.
								</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Chips and Salsa &nbsp; $1.00
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Chips and Salsa &nbsp; $1.00</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'demo-parrilla.png' %>
							</div>
							<p>
								<em>Crispy, corn tortillas served with housemade, zesty salsa.</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<h2>Soups and Salads </h2>
					<a href="#" class="open"><strong>
						Xochitl (S OH-sheel) &nbsp; $7.00
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Xochitl (S OH-sheel) &nbsp; $7.00</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
								Fresh and vibrant Mexican chicken soup. Juicy, shredded chicken breast, 
								homemade Mexican rice, Chopped onions and fresh cilantro. Served with a 
								side of steamed corn tortillas. Add a squeeze of lime for festive flavor.
								</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Taco Salad &nbsp; $7.00
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Taco Salad &nbsp; $7.00</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
							<em>
								Tostadas, beans, lettuce, cheese, pico de gallo, guacamole and sour cream
							</em>
							</p>
						</div>
					</div>
				</div>
				<div>
					<a href="#" class="open"><strong>
						Parrilla House Salad &nbsp; $3.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Parrilla House Salad &nbsp; $3.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
								Shredded lettuce mixed with pico de gallo, pineapple and our house dressing.
							</em>
							</p>
						</div>
					</div>
				</div>
				
				<div>
				<h2>Tortas-warm sandwich</h2>
					<p>
						<em>
							served on Bolillo (Mexican Bread)
								Filled with melted Monterey jack cheese, housemade refried black beans, tomato, onion, guacamole, and our house dressing (jalapeno or chipotle). Choose Carne Asada, Al Pastor, Chorizo or Pibil. &nbsp; $9.75 
						</em>
					</p>
					<a href="#" class="open"><strong>
						Specialty Cubana Torta &nbsp; $10.50
					</strong></a>
					<div class="popup-menu content-info"> 
						<h3>Specialty Cubana Torta &nbsp; $10.50</h3>
						<div class="content">
						<div class="menu-image">
								<%= image_tag 'bg-dish.png' %>
							</div>
							<p>
								<em>
								Fresh and vibrant Mexican chicken soup. Juicy, shredded chicken breast, 
								homemade Mexican rice, Chopped onions and fresh cilantro. Served with a 
								side of steamed corn tortillas. Add a squeeze of lime for festive flavor.
								</em>
							</p>
						</div>
					</div>
				</div>
			</div> <!-- end of accordion menu -->
		</div><!-- end of menu item left -->