---
title: La Parilla | Gallery
---

<div class="container">
  <h1>What forces shape you?</h1>
  <div class="wrap-gallery">
    <section class="first-section-gallery">
      <div id="popup46" class="overlay">
        <div class="popup popup-gallery"> 
            <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'la-parrilla-exterior.jpg', :width => '300'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup46">
          <%= image_tag 'la-parrilla-exterior.jpg', :width => '300'%>
        </a>
        <br />
      </div>
      <!-- end of modal -->
    </section class="second-section-gallery">

    <section>
      <div id="popup47" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'outside-parrilla.JPG', :width => '300'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup47">
          <%= image_tag 'outside-parrilla.JPG', :width => '300'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>

    <section class="third-section-gallery">
    <div id="popup48" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'three-bg.png', :width => '300'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup48">
          <%= image_tag 'three-bg.png', :width => '300'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>
  </div>
  <div class="wrap-gallery">

    <section class="first-section-gallery">
      <div id="popup49" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'dark.png'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup49">
          <%= image_tag 'dark.png', :width => '300'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section class="second-section-gallery">

    <section>
      <div id="popup50" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'joda.png', :width => '300'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup50">
          <%= image_tag 'joda.png', :width => '300'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>

    <section class="third-section-gallery">
      <div id="popup51" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'demo13.png', :width => '300'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup51">
          <%= image_tag 'demo13.png', :width => '300'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>
  </div>
</div>


<input type="checkbox" id="pic-1"/>
<label for="pic-1" class="lightbox"><img src="//unsplash.it/800/600?image=1"/></label>
<input type="checkbox" id="pic-2"/>
<label for="pic-2" class="lightbox"><img src="//unsplash.it/800/600?image=20"/></label>
<input type="checkbox" id="pic-3"/>
<label for="pic-3" class="lightbox"><img src="//unsplash.it/800/600?image=635"/></label>
<input type="checkbox" id="pic-4"/>
<label for="pic-4" class="lightbox"><img src="//unsplash.it/800/600?image=42"/></label>
<input type="checkbox" id="pic-5"/>
<label for="pic-5" class="lightbox"><img src="//unsplash.it/800/600?image=180"/></label>
<input type="checkbox" id="pic-6"/>
<label for="pic-6" class="lightbox"><img src="//unsplash.it/800/600?image=625"/></label>
<input type="checkbox" id="pic-7"/>
<label for="pic-7" class="lightbox"><img src="//unsplash.it/800/600?image=201"/></label>
<input type="checkbox" id="pic-8"/>
<label for="pic-8" class="lightbox"><img src="//unsplash.it/800/600?image=7"/></label>
<input type="checkbox" id="pic-9"/>
<label for="pic-9" class="lightbox"><img src="//unsplash.it/800/600?image=48"/></label>
<input type="checkbox" id="pic-10"/>
<label for="pic-10" class="lightbox"><img src="//unsplash.it/800/600?image=180"/></label>
<input type="checkbox" id="pic-11"/>
<label for="pic-11" class="lightbox"><img src="//unsplash.it/800/600?image=534"/></label>
<input type="checkbox" id="pic-12"/>
<label for="pic-12" class="lightbox"><img src="//unsplash.it/800/600?image=24"/></label>
<div id="masonry" class="grid" >

  <!-- Loop all pictures and print the actual images-->
  <label for="pic-1" class="grid-item"><img src="//unsplash.it/400/300?image=1"/></label>
  <label for="pic-2" class="grid-item"><img src="//unsplash.it/400/300?image=20"/></label>
  <label for="pic-3" class="grid-item"><img src="//unsplash.it/400/300?image=635"/></label>
  <label for="pic-4" class="grid-item"><img src="//unsplash.it/400/300?image=42"/></label>
  <label for="pic-5" class="grid-item"><img src="//unsplash.it/400/300?image=180"/></label>
  <label for="pic-6" class="grid-item"><img src="//unsplash.it/400/300?image=625"/></label>
  <label for="pic-7" class="grid-item"><img src="//unsplash.it/400/300?image=201"/></label>
  <label for="pic-8" class="grid-item"><img src="//unsplash.it/400/300?image=7"/></label>
  <label for="pic-9" class="grid-item"><img src="//unsplash.it/400/300?image=48"/></label>
  <label for="pic-10" class="grid-item"><img src="//unsplash.it/400/300?image=180"/></label>
  <label for="pic-11" class="grid-item"><img src="//unsplash.it/400/300?image=534"/></label>
  <label for="pic-12" class="grid-item"><img src="//unsplash.it/400/300?image=24"/></label>
</div>



