---
title: La Parilla | Gallery
---

<div class="container">
  <h1>What forces shape you?</h1>
  <div class="wrap-gallery">
    <section class="first-section-gallery">
      <div id="popup46" class="overlay">
        <div class="popup popup-gallery"> 
            <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'dark.png'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup46">
          <%= image_tag 'dark.png', :width => '225'%>
        </a>
        <br />
      </div>
      <!-- end of modal -->
    </section class="second-section-gallery">

    <section>
      <div id="popup47" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'joda.png', :width => '225'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup47">
          <%= image_tag 'joda.png', :width => '225'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>

    <section class="third-section-gallery">
    <div id="popup48" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'clone-1.png', :width => '225'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup48">
          <%= image_tag 'clone-1.png', :width => '225'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>
  </div>
  <div class="wrap-gallery">

    <section class="first-section-gallery">
      <div id="popup49" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'dark.png'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup49">
          <%= image_tag 'dark.png', :width => '225'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section class="second-section-gallery">

    <section>
      <div id="popup50" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'joda.png', :width => '225'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup50">
          <%= image_tag 'joda.png', :width => '225'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>

    <section class="third-section-gallery">
      <div id="popup51" class="overlay">
        <div class="popup popup-gallery"> 
          <a class="close" href="#">&times;</a>
          <br />
          <br />
          <div class="content">
            <div class="modal-image">
              <%= image_tag 'demo13.png', :width => '225'%>
            </div>
          </div>
        </div>
      </div>
      <div class="item-info item-gallery">
        <a href="#popup51">
          <%= image_tag 'demo13.png', :width => '225'%>
        </a><br />
      </div>
      <!-- end of modal -->
    </section>
  </div>
</div>



