---
title: La demo Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'pannel_background.png' %>
  </figure>

  <figure>
    <%= image_tag 'demo-parrilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'pannel_background.png' %>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png' %>
  </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container role">
  <div class="main-info">
    <p>
    “Zipolite enchiladas, quesadillas, fresh guac and killer margaritas are just a taste of what we’ve got at La Parrilla Mexican Restaurant.”
    </p>
  </div>
</div>

<div class="bgimage-pannel">
  <div class="container role">

    <section class="three-col">
      <article class="col-1">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article class="col-2">

      <article class="col-3">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article>

      <article class="col-1">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>

<div class="main-info second-pannel">
  <div class="container role">
    <div id="js-fadeInElement" class="fade-in-element">
    <p>“Had the Mixiotes and it was one of the best Mexican dishes I have had.”</p>
    </div>
  </div>
</div>



