---
title: La Parrilla Mexican Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>Casa Oaxaca </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
     <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
       <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
   <%= image_tag 'demo-parrilla.png', width:'100%' %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  



</div>




