---
title: La Parrilla Mexican Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>Casa Oaxaca </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
     <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
       <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
   <%= image_tag 'demo-parrilla.png', width:'100%' %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container role">
  <div class="mian-info">
  <p><%= lorem.sentences 3 %></p>
  </div>
</div>

<div class="container">
  <div class="wrap clearfix">
    <div class="fourcol offre first active">
      <div class="offre_head"> 
        <span class="offre_price">50€/h</span>
        <br> 
        <span class="offre_name">Cocktail festif</span>
        <a href="http://www.housekitchen.fr/wp-content/themes/hk/library/files/formules/Atelier_Cocktail_Festif-Fiche_PARTICULIER.pdf" class="offre_link" target="_blank">
          <span class="icon2-info"></span>
        </a>
      </div>
      <div class="offre_content"> 
        <span class="offre_descr">Verrines, brochettes, canapés</span>
        <br>
        <span class="offre_details">Durée: 2H00
          <br>
          Seul ou 35€/pers à plusieurs</span>
        </div>
      </div>
      <div class="fourcol offre">
        <div class="offre_head">
          <span class="offre_price">Devis</span>
          <br>
          <span class="offre_name">Menu du marché</span>
        </div>
        <div class="offre_content">
          <span class="offre_descr">
            Entrée, plat, dessert
          </span>
          <br>
          <span class="offre_details">
            Durée: 2H00
            <br>
            Seul ou à plusieurs
          </span>
        </div>
      </div>
      <div class="fourcol offre last">
        <div class="offre_head">
          <span class="offre_price">Devis</span>
          <br>
          <span class="offre_name">
            Menu gastronomique
          </span>
        </div>
        <div class="offre_content">
          <span class="offre_descr">
            Entrée, plat, dessert</span>
            <br>
            <span class="offre_details">Durée: 2H00
              <br>Seul ou à plusieurs
            </span>
          </div>
        </div>
      </div>
    </div>



