---
title: La Parrilla Mexican Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>Casa Oaxaca </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
     <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
       <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
   <%= image_tag 'demo-parrilla.png', width:'100%' %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container role">
  <div class="mian-info">
  <p><%= lorem.sentences 3 %></p>
  </div>
</div>

<div class="container role">

  <section class="three-col">
    <article class="col-1">
      <div class="article-head">
        <span class="offre_price">Demo</span>
      </div>
      <p><%= lorem.sentences 4 %></p> 
    </article class="col-2">

    <article class="col-3">
      <div class="article-head">
        <p><%= lorem.sentences 1 %></p>
      </div>
      <p><%= lorem.sentences 4 %></p> 
    </article>

    <article class="col-1">
      <div class="article-head">
        <p><%= lorem.sentences 1 %></p>
      </div>
      <p><%= lorem.sentences 4 %></p> 
    </article>
  </section>

</div>

<div class="container">
  
  <div class="module-testimonials-quotes">
    <ul>
      <li class="card">
        <h1>demo</h1>
        <div class="group-quote">
          <p>
            Talavera Catrina from Guanajuato<br />
            <em>33" x 9-1/2 (base)</em>
          </p>
        </div>
      </li>

      <li class="card">
        <%= image_tag 'Tin_Large_Chande.jpg' %>
        <div class="group-quote">
          <p>
            Tin Chandelier
            6 large and 6 small light holders 
            surround the lamp
            1 light holder at the base
            approximately 28 " high by 30 " wide
          </p>
        </div>
      </li>

      <li class="card">
        <%= image_tag 'Bench.jpg' %>
        <div class="group-quote">
          <p>
            Bench made of solid Borneo wood
            made in Tonalo, Jalisco
            8 feet long, 3-1/2 feet tall, 18 inches deep
          </p>
        </div>
      </li>

      
    </ul>
  </div>
</div>