---
title: La demo Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png', width:'100%' %>
     <figcaption>
      <h1>Casa Oaxaca </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
     <%= image_tag 'pannel_background.png', width:'100%' %>
     <figcaption>
      <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'demo-parrilla.png', width:'100%'  %>
    <figcaption>
       <h1>KipTraq (“Keep-Track”) </h1>
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
   <%= image_tag 'pannel_background.png', width:'100%' %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <figure>
    <%= image_tag 'laparilla.png', width:'100%'  %>
    <figcaption>
      KipTraq (“Keep-Track”)
      <p>
        A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
      </p>
    </figcaption> 
  </figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container role">
  <div class="main-info">
    <p><%= lorem.sentences 2 %></p>
  </div>
</div>
<div class="bgimage-pannel">
  <div class="container role">

    <section class="three-col">
      <article class="col-1">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article class="col-2">

      <article class="col-3">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article>

      <article class="col-1">
        <ul>
          <li class="card">
            <h1>demo</h1>
            <div class="group-quote">
              <p><%= lorem.sentences 3 %></p>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>

<div class="main-info second-pannel">
  <div class="container role">
    <div id="js-fadeInElement" class="fade-in-element">
    <p>This box will fade in when it's <b>300px above the bottom</b> of the window.
      <br>
      And disappear as it goes <b>below the bottom</b> of the window.
      <br>
      If JavaScript is disabled, it will still show up.</p>
    </div>
  </div>
</div>



