---
title: La demo Grill
---

<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'demo-parrilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'pannel_background.png' %>
  </figure>

  <figure>
    <%= image_tag 'demo-parrilla.png' %>
  </figure>

  <figure>
    <%= image_tag 'pannel_background.png' %>
  </figure>

  <figure>
    <%= image_tag 'laparilla.png' %>
  </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container role">
  <div class="main-info">
    <p>
    “Zipolite enchiladas, quesadillas, fresh guac and killer margaritas are just a taste of what we’ve got at La Parrilla Mexican Restaurant.”
    </p>
  </div>
</div>

<div class="bgimage-pannel">
  <div class="container role">

    <section class="three-col">
      <article class="col-1">
        <ul>
          <li class="card">
            <% link_to 'gallery' do %>
              <h1>GALLERY</h1>
              <div class="group-quote">
                <p>Find out why we decided to set off on this crazy adventure in the first place.</p>
              </div>
              <% end %>
          </li>
        </ul>
      </article class="col-2">

      <article class="col-3">
        <ul>

          <li class="card">
          <% link_to 'menu' do %>
            <h1>MENU</h1>
            <div class="group-quote">
              <p>Our mission is to provide our customers with fresh, innovative and delicious dishes made from locally sourced, all-natural ingredients.</p>
            </div>
            <% end %>
          </li>
        </ul>
      </article>

      <article class="col-1">
        <ul>
          <li class="card">
            <% link_to 'contact' do %>
            <h1>CONTACT</h1>
            <div class="group-quote">
              <p>
                La Parilla  is located in 21389 Stewart St
                Middletown, CA 95461 &nbsp;
              </p>
            </div>
            <% end %>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>

<div class="main-info second-pannel">
  <div class="container role">
    <div id="js-fadeInElement" class="fade-in-element">
    <p>“Had the Mixiotes and it was one of the best Mexican dishes I have had.”</p>
    </div>
  </div>
</div>



