---
title: Middleman is Loaded
---
<div id="Fader" class="fader hero-overflow">
  <%= image_tag '../assets/images/laparilla.png', class: 'slide' %>
  <%= image_tag '../assets/images/lp.jpg', class: 'slide' %>
  <%= image_tag '../assets/images/laparilla.png', class: 'slide' %>
  <%= image_tag '../assets/images/laparrilla.jpg', class: 'slide' %>

    <div class="fader_controls">
      <div class="page prev" data-target="prev">&lsaquo;</div>
      <div class="page next" data-target="next">&rsaquo;</div>
      <ul class="pager_list"></ul>
    </div>
</div>
<!--<%= image_tag '../assets/images/laparilla.png' %>-->
<div class="container">
	<div class="main-content">
		<p>
			We welcome you to come and join us for a delicious dining experience filled with high-quality, fast, and friendly service! Our mission is to make this feel like Your La Parrilla!
		</p>
	</div>
</div>

<!--
<i class="fa fa-1x fa-flash"></i>
<i class="fa fa-2x fa-flash"></i>
<i class="fa fa-3x fa-flash"></i>
-->

